<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.technifutur.checkcleaning">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCquB3O1X3ht6kVhnxMJpa0HF0e5P_AaOo" />
        <meta-data
            android:name="pspdfkit_license_key"
            android:value="qmxpraFq8u33EtJN5Cyytowzj3uFU_GLICyziMgU5ztntHG5FjZf51sgySzlm-CkceLJkssGZwY5o0-zvx2Fg1e_E_vcv-q0EMo67fBwR0pEl190OXSVWb-bn3jzTiKOIWhv5Zo4rCUVQ9Gh6MRZl12p2uLtrHPwCNFD7CCm8bVq3v94kWqCk0xBTKDVUbt5p-tgRGZeYhbtEpWHqZF7lBAAMOrerMDbAcgJY23CvxETP_mN6wrctW2LPW6WaRKOaOpbQcxi6yYNuhexNOysthsr7haxCqXzpPlTdPOhl5jgAKgA0sp48U5h9PVyssI4UH7jqOTncyyFv_0xlWXb6lbE52fRO_KmwVitW_P_gyMkiy6QIW1ROoUtzdI-vEMMnzaxuNODlwORdncaYuVeg64uoNUxbvD5CDCXlbQKT740oU3eXMYgNSsrZcGz1SQA"/>

        <activity
            android:name=".activity.LaunchActivity"
            android:windowSoftInputMode="adjustResize|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.SignUpActivity" />
        <activity
            android:name=".activity.BottomBarActivity"
            android:label="@string/title_activity_bottom_bar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.BuildingChoiceActivity" />
        <activity
            android:name=".activity.CreateBuildingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.SettingsActivity" />
    </application>

</manifest>